.wrapper{
    margin: 0 auto;
    width: 1000px;
}
.img h1 {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 60px;
    padding-left: 0;
    padding-top: 50px;
    font-stretch: expanded;

}
.img {
    height: 200px;
    width: : 100px;
    background-image: url(risu.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}
* {
    box-sizing: border-box;
}
.column {
  float: left;
  padding: 10px;
  height: 150px;
}
.left {
    width: 10%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.right {
    width: 90%;
    font-size: 17.5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
ul {
    font-size: 20px;
    line-height: 35px;
}
h2 {
    font-family: 'Domine', serif;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
table {
    width: 1000px;
}
th {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-stretch: expanded;
    font-size: 20px;
}
table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
td{
    text-align: center;
    font-size: 17.5px;
}
.col {
  float: left;
  padding: 10px;
  height: 250px;
}
.l {
    width: 15%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.r {
    width: 85%;
    font-size: 17.5px;
    padding-left: 20px;
}
.per:after {
  content: "";
  display: table;
  clear: both;
}
a {
    text-decoration: none;
}
